@font-face {
  font-family: 'OpenSans-Bold';
  src: url(/public/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url(/public/fonts/OpenSans-Italic.ttf);
}

@font-face {
  font-family: 'OpenSans-Light';
  src: url(/public/fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url(/public/fonts/OpenSans-Regular.ttf);
}
